<mat-dialog-content>
<div class="auth-dialog">
    <div class="auth-dialog-title">
        <span>Schedule</span>
        <span class="auth-close-x" (click)="close()">&times;</span>
    </div>
    <div class="auth-fields">
            <div class="auth-left-fields left-field-width">Owner:</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ event.appointment.CreatedBy }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Title :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ event.appointment.Title }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Location :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ event.appointment.Location }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Start :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ event.appointment.Date | date:'MMM dd, yyyy' }} - {{ event.appointment.Time }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">End :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ endDate | date:'MMM dd, yyyy' }} - {{ event.appointment.EndTime }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Details :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ event.appointment.Details }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Invites :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <div>
                <span class="calendar-view-invite" *ngFor="let a of attendees">
                    <img *ngIf="a.Type == 'Member'" [src]="personImageSrc" width="15px" height="15px">
                    <img *ngIf="a.Type == 'Group'" [src]="groupImageSrc" width="15px" height="15px">
                    {{ a.Name }}
                 </span>
            </div>
        </div>
    </div>
    </div>
</mat-dialog-content>