<div>
  <div class="flex-other-side">
    <div class="buttons-group flex-center">
      <span class="calendar-month">{{ monthStr }}</span>
      <span class="calendar-year">{{ currentYear }}</span>
    </div>
    
    <div class="buttons-group flex-center">
      <button mat-flat-button class="blue-button opacity-button" (click)="previousMonth()">
        <img height="18" width="18" [src]="leftArrowIcon">
      </button>
      <button mat-flat-button class="blue-button opacity-button" (click)="today()">Today</button>
      <button mat-flat-button class="blue-button opacity-button" (click)="nextMonth()">
        <img height="18" width="18" [src]="rightArrowIcon">
      </button>
    </div>
  </div>
  <div class="calendar-container">
    <app-calendar-contextmenu class="contextMenu" *ngIf="showContextMenu" (showDialog)="openDialog($event)"
    [isAdd]="contextMenuAdd" [isOwner]="contextMenuOwner" [ngStyle]="{'left': contextMenuX + 'px', 'top': contextMenuY + 'px'}">
      
    </app-calendar-contextmenu>
    <div class="Weekdays-name">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    <div id="calendar" class="calendar">
      <app-calendar-block (showParentContextMenu)="showThisContextMenu($event)" *ngFor="let b of daysBlock" [block]="b" (refreshList)="refreshEvents()">

      </app-calendar-block>
    </div>
  </div>

  <!-- <app-messagebox *ngIf="showDeleteDialog" [appointment]="appointmentToDelete" (onCancel)="onDeleteCancel()" (onOk)="onOkDelete()">
  </app-messagebox> -->
</div>
