<div class="middle-section">
    <div class="screenshot-section" [ngClass]="big ? 'screenshot-section-large' : 'screenshot-section-small'">
        <img class="bottom" [src]="addeditImage">
        <img id="top" class="top" [src]="screenshotImage">
    </div>
    <div id="mobile-part" class="home-section first-section grey-text">
        <div class="home-content-width">
            <div class="section-title"> 
                <h1 class="color-333333 ">Your Calenday Scheduler will be beautiful everywhere.</h1>
                <p>Send it to your best friends and your grandma. It’ll work on their computers and phones.</p>
            </div>
            <div [ngClass]="firstSectionLayout">
                <div>
                    <img [ngClass]="big ? 'tablets-image-big' : 'tablets-image-small'" [src]="tabletImage">
                </div>
                <div>
                    <div>
                        <div class="layout-images">
                            <div class="shake">
                                <img height="37px" width="37px" [src]="chromeBrowserIcon">
                            </div>
                            <div class="shake">
                                <img height="37px" width="37px" [src]="firefoxIcon">
                            </div>
                            <div class="shake">
                                <img height="37px" width="37px" [src]="ieIcon">
                            </div>
                            <div class="shake">
                                <img height="37px" width="37px" [src]="safaryIcon">
                            </div>
                        </div>
                        <div class="browser-os-title color-333333 ">Broad browser support, baby.</div>
                        <div>
                            All major browsers are supported including Internet Explorer. Send it to your best friends and colleagues. 
                        </div>
                    </div>
                    <div>
                        <div class="layout-images">
                            <div class="shake">
                                <img height="37px" width="37px" [src]="appleIcon">
                            </div>
                            <div class="shake">
                                <img height="37px" width="37px" [src]="androidIcon">
                            </div>
                            <div class="shake">
                                <img height="37px" width="37px" [src]="windowsIcon">
                            </div>
                        </div>
                        <div class="browser-os-title color-333333">It’s gonna look good on all devices.</div>
                        <div>
                            Anyone can access the Event-IO using a computer or a mobile device- no special knowledge or equipment is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="feature-part" class="home-section second-section grey-text">
        <div class="home-content-width">
            <div class="section-title">
                <h1 class="color-333333">Your Calendar Scheduler will be always at your service.</h1>
                <p>Schedule your Appointments, Classes, and Interviews with Event-IO. Easily manage your Task and Reminder with a few clicks.</p>
            </div>
            <div [ngClass]="secondSectionLayout">
                <div class="second-square-container">
                    <div class="circle-container shake">
                        <span class="circle-number">1</span>
                        <img class="circle-image" [src]="appointmentImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Appointment</h2>
                        <p>Setup appointmetns, meetings, and events. Invite your friends, families, and collegues to join in. Collaboration has never been easier with Appointment scheduler</p>
                    </div>
                </div>
                <div class="second-square-container">
                    <div class="circle-container shake">
                        <span class="circle-number">2</span>
                        <img class="circle-image" [src]="taskImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Task</h2>
                        <p>Manage your days, weeks, month, and entire year with "Task" scheduler. Planning and keeping track of your task has never been easier.</p>
                    </div>
                </div>
                <div class="second-square-container">
                    <div class="circle-container shake">
                        <span class="circle-number">3</span>
                        <img class="circle-image" [src]="reminderImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Reminder</h2>
                        <p>Never miss any important event, task, and appointments with "Reminder" scheduler. If you forget things a lot, this feature will definitely helps you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section third-section grey-text">
        <div class="home-content-width">
            <div class="section-title">
                <h1 class="color-333333 ">Here’s some more things you’ll love.</h1>
               
            </div>
            <div class="third-section-layout-row">
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="privacyImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Privacy</h2>
                        <p>Built for privacy, only you and your invited friends could see your events.</p>
                    </div>
                </div>
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="contactImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Contact</h2>
                        <p>Add people to your contact list so you can invite them to your "Appointments". Your contacts can be managed through 'Groups'</p>
                    </div>
                </div>
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="groupImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Group</h2>
                        <p>Create and manage groups. Event-IO has the ability to invite groups to your "Appointments"</p>
                    </div>
                </div>
            </div>
            <div class="third-section-layout-row">
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="colorImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Color</h2>
                        <p>Add custom color to event for easier viewing.</p>
                    </div>
                </div>
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="responsiveImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Responsive</h2>
                        <p>Enjoy your event in any screen sizer. Responsive UI makes this app looks good on any devices, browser, and screensizes.</p>
                    </div>
                </div>
                <div>
                    <div class="round-image-icon shake">
                        <img [src]="reoccurImage">
                    </div>
                    <div class="second-square-desc">
                        <h2 class="color-333333">Repeat</h2>
                       <p>Create repeating events for your reoccuring schedules. Event-IO has the ability to manage reoccuring events.</p>
                      <p>919-277-8510</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
