################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/event-io.slnx
/Scheduler/ClientApp/.angular/cache/13.3.4
/Scheduler.Test/.vs/Scheduler.Test/FileContentIndex
/Scheduler.Test/.vs/Scheduler.Test/v18/TestStore/0
/Scheduler.Test/.vs/Scheduler.Test/v18
/Scheduler.Test/bin/Debug/net8.0
/Scheduler.Test/obj/project.assets.json
/Scheduler.Test/obj/Debug/net6.0/Scheduler.Test.assets.cache
/Scheduler.Test/obj/Debug/net6.0/Scheduler.Test.csproj.FileListAbsolute.txt
/Scheduler.Test/obj/Debug/net6.0/Scheduler.Test.GlobalUsings.g.cs
/Scheduler.Test/obj/Debug/net8.0
*.cs
/Scheduler.Test/obj/project.nuget.cache
/Scheduler.Test/obj/Scheduler.Test.csproj.nuget.dgspec.json
/Scheduler.Test/obj/Scheduler.Test.csproj.nuget.g.props
/Scheduler.Test/obj/Scheduler.Test.csproj.nuget.g.targets
/.vs/ProjectEvaluation/scheduler.metadata.v10.bin
/.vs/ProjectEvaluation/scheduler.metadata.v5
/.vs/ProjectEvaluation/scheduler.projects.v10.bin
/.vs/ProjectEvaluation/scheduler.projects.v5
/.vs/ProjectEvaluation/scheduler.strings.v10.bin
/.vs/Scheduler/config/applicationhost.config
/.vs/Scheduler/DesignTimeBuild/.dtbcache.v2
/.vs/Scheduler/FileContentIndex/483f2c6e-8eab-430b-b895-9d0125f25b3f.vsidx
/.vs/Scheduler/FileContentIndex/5eb6ed18-d66e-496f-8834-bc5d85a4f849.vsidx
/.vs/Scheduler/FileContentIndex/7274ba61-43c9-4261-80ba-7d0b238e9175.vsidx
/.vs/Scheduler/FileContentIndex/790509ab-2e6c-4b97-ac17-b288a71f6754.vsidx
/.vs/Scheduler/FileContentIndex/852d54ea-48ae-4edc-b0c3-f629d08243a3.vsidx
/.vs/Scheduler/FileContentIndex/920c2210-fb2e-42bc-b878-5500c3fda3ee.vsidx
/.vs/Scheduler/FileContentIndex/9636f5b1-c631-4a4f-8e5f-8a6e0620d327.vsidx
/.vs/Scheduler/FileContentIndex/c1731c76-d717-44b1-a0ed-808e80aae2bd.vsidx
/.vs/Scheduler/FileContentIndex/e5f9ae6a-6dfc-411a-89fb-bf803cc00be6.vsidx
/.vs/Scheduler/FileContentIndex/read.lock
/.vs/Scheduler/v18/TestStore/0
/.vs/Scheduler/v18
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Scheduler/FileContentIndex/39b33bb2-8ab0-4d42-9862-132cf238d2ae.vsidx
/.vs/Scheduler/FileContentIndex/cb1e4585-1523-4307-be15-2384ca9419cb.vsidx
