<div class="page-contacts">
    <br>
    <button mat-flat-button class="blue-button opacity-button" (click)="openAddDialog()">
        <img height="16" width="16" [src]="addIcon">
        Add Contact
    </button>
    <br>
    <br>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let u"> {{u.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>UserName</th>
            <td mat-cell *matCellDef="let u"> {{ u.UserName }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let u"> {{ u.LastName }}, {{ u.FirstName }} {{ u.MiddleName }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let u"> {{ u.Email }} </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let u">
                <button mat-flat-button class="red-button display-none opacity-button" (click)="remove(u.Id, u.Email)">
                    <img height="16" width="16" [src]="removeIcon">
                    Remove
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="scheduler-table" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>