<mat-dialog-content>
<div class="auth-dialog">
    <div class="auth-dialog-title">
        <span>{{ param?.contextOperation?.Operation }} {{ dialogTitle }}</span>
        <span class="auth-close-x" (click)="cancelAdd()">&times;</span>
    </div>
    <div class="auth-fields" *ngIf="param?.contextOperation?.Type == appointmentTypeList.Appointment">
            <div class="auth-left-fields left-field-width">Owner:</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <span>{{ createdBy }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Title :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <input *ngIf="isOwner" class="auth-text" type="text" [(ngModel)]="title" [disabled]="!isOwner">
            <span *ngIf="!isOwner">{{ title }}</span>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Color :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">   
                <div [ngClass]="colorSelection">
                <div class="color-container">
                    <div class="color-sligthly-none" [ngClass]="color == '' ? 'color-selected' : ''" (click)="changeColor('')">
                        <span>/</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-red" [ngClass]="color == 'red' ? 'color-selected' : ''" (click)="changeColor('red')">
                        <span *ngIf="color == 'red'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-orange" [ngClass]="color == 'orange' ? 'color-selected' : ''" (click)="changeColor('orange')">
                        <span *ngIf="color == 'orange'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-yellow" [ngClass]="color == 'yellow' ? 'color-selected' : ''" (click)="changeColor('yellow')">
                        <span *ngIf="color == 'yellow'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-green" [ngClass]="color == 'green' ? 'color-selected' : ''" (click)="changeColor('green')">
                        <span *ngIf="color == 'green'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-blue" [ngClass]="color == 'blue' ? 'color-selected' : ''" (click)="changeColor('blue')">
                        <span *ngIf="color == 'blue'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-purple" [ngClass]="color == 'purple' ? 'color-selected' : ''" (click)="changeColor('purple')">
                        <span *ngIf="color == 'purple'">&#x2714;</span>
                    </div>
                </div>
                <div class="color-container">
                    <div class="color-gray" [ngClass]="color == 'gray' ? 'color-selected' : ''" (click)="changeColor('gray')">
                        <span *ngIf="color == 'gray'">&#x2714;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auth-fields"  *ngIf="param?.contextOperation?.Type == appointmentTypeList.Appointment">
        <div class="auth-left-fields left-field-width">Location :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <div class="full-section">
                <input class="auth-text" type="text" [(ngModel)]="location" *ngIf="isOwner">
                <span *ngIf="!isOwner">{{ location }}</span>
            </div>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Start :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <div class="display-flex gap-10 dual-section" [ngClass]="!isOwner ? 'field-disabled' : ''">
                <div>
                    <input readonly [matDatepicker]="pickerStart" (click)="pickerStart.open()" class="auth-text" type="text" [(ngModel)]="date" [disabled]="!isOwner" (dateChange)="onDateChange($event)">
                    <mat-datepicker-toggle class="mat-date-picker-location" matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </div>
                    <div class="position-relative">
                    <input readonly [ngxTimepicker]="timePickerStart" class="auth-text" type="text" [(ngModel)]="time" [disabled]="!isOwner">
                    <ngx-material-timepicker #timePickerStart [timepickerClass]="'custom-class'"></ngx-material-timepicker>
                    <ngx-material-timepicker-toggle class="ngx-material-timepicker-toggle-location" [for]="timePickerStart" ></ngx-material-timepicker-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="auth-fields" *ngIf="param?.contextOperation?.Type == appointmentTypeList.Appointment">
        <div class="auth-left-fields left-field-width">End :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <div class="display-flex gap-10 dual-section" [ngClass]="!isOwner ? 'field-disabled' : ''">
                <div>
                    <input readonly [matDatepicker]="pickerEnd" (click)="pickerEnd.open()" class="auth-text" type="text" [(ngModel)]="endDate" [disabled]="!isOwner" (dateChange)="onEndDateChange()">
                    <mat-datepicker-toggle class="mat-date-picker-location" matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </div>
                    <div class="position-relative">
                    <input readonly [ngxTimepicker]="timePickerEnd" class="auth-text" type="text" [(ngModel)]="endTime" [disabled]="!isOwner">
                    <ngx-material-timepicker #timePickerEnd [timepickerClass]="'custom-class'"></ngx-material-timepicker>
                    <ngx-material-timepicker-toggle class="ngx-material-timepicker-toggle-location" [for]="timePickerEnd" ></ngx-material-timepicker-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="auth-fields">
        <div class="auth-left-fields left-field-width">Repeat :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <select class="auth-text auth-select" [(ngModel)]="selectedRepeatSelection">
                <option *ngFor="let r of repeatSelections" [value]="r">{{ repeatEnumToDisplay(r) }}</option>
            </select>
        </div>
    </div>
    <div class="auth-fields" *ngIf="selectedRepeatSelection != 0">
        <div class="auth-left-fields left-field-width">Repeat End :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
                <div [ngClass]="repeatLayout">
                <div>
                    <select class="auth-text auth-select" [(ngModel)]="selectedRepeatEnd">
                        <option *ngFor="let r of repeatEndSelection" [value]="r">{{ repeatEndEnumToDisplay(r) }}</option>
                    </select>
                </div>
                <div>
                    <div *ngIf="selectedRepeatEnd == 1"><!-- After -->
                            <input *ngIf="isOwner" class="auth-text" type="number" min="1" [(ngModel)]="after" (keyup)="onChangeAfter(after)" [disabled]="!isOwner">
                            <label class="right-label margin-left-7 times-label">Times</label>
                    </div>
                    <div *ngIf="selectedRepeatEnd == 2"><!-- On Date -->
                        <input readonly [matDatepicker]="picker" (click)="picker.open()" class="auth-text" type="text" [(ngModel)]="onDate" [disabled]="!isOwner">
                        <mat-datepicker-toggle class="mat-date-picker-location" matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
                    <div class="text-align-c" *ngIf="selectedRepeatSelection == 1"> <!--Add operation && everyday--> 
                        <mat-checkbox [(ngModel)]="HasNoWeekEnds" [disabled]="param?.contextOperation?.Operation == 'Edit'">No WeekEnds</mat-checkbox>
                    </div>
            </div>
        </div>
    </div>
    <div class="auth-fields" *ngIf="param?.contextOperation?.Type != appointmentTypeList.Reminder">
        <div class="auth-left-fields left-field-width">Detail :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <textarea *ngIf="isOwner" class="auth-text" rows="8" [(ngModel)]="details" [disabled]="!isOwner"></textarea>
            <div class="schedule-details" *ngIf="!isOwner">{{ details }}</div>
        </div>
    </div>
    <div class="auth-fields"  *ngIf="param?.contextOperation?.Type == appointmentTypeList.Task && param?.contextOperation?.Operation == 'Edit'">
        <div class="auth-left-fields left-field-width">Status :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <mat-checkbox [(ngModel)]="isDone">Mark as Done</mat-checkbox>
        </div>
    </div>
    <div class="auth-fields" *ngIf="param?.contextOperation?.Type == appointmentTypeList.Appointment">
        <div class="auth-left-fields left-field-width">Invites :</div>
        <div class="auth-right-fields right-field-width background-color-272e48">
            <div class="invites-section">
                    <mat-radio-group [(ngModel)]="selectedRadio" *ngIf="isOwner" [ngClass]="radioButtonLayout">
                    <mat-radio-button *ngFor="let r of radioGroups" [value]="r" (change)="filterChange()" [checked]="r == 'All'">{{ r }}</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="attendees-form block-margin-10" appearance="fill">
                    <mat-chip-list #chipList [disabled]="!isOwner">
                        <mat-chip class="custom-chip" *ngFor="let at of attendees" (removed)="removeAttendees(at)">
                            {{at.Name}} &nbsp;
                            <img *ngIf="at.Type == 'Member'" [src]="personImageSrc" width="13px" height="13px">
                            <img *ngIf="at.Type == 'Group'" [src]="groupImageSrc" width="13px" height="13px">
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input
                        placeholder="Invite...."
                        #attendeeInput
                        [formControl]="calendarForm"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let ats of filteredAttendees | async" [value]="ats">
                                <img *ngIf="ats.Type == 'Member'" [src]="personImageSrc" width="25px" height="25px">
                                <img *ngIf="ats.Type == 'Group'" [src]="groupImageSrc" width="25px" height="25px">
                                {{ ats.Name }} 
                            </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="auth-footer">
        <div class="auth-footer-fields background-color-3a405a">
            <div class="auth-footer-left"></div>
            <div class="auth-footer-right">
                <button mat-flat-button class="blue-button opacity-button" (click)="addEditEvent()" [disabled]="title.length == 0 || time.length == 0 || !isOwner">Ok</button> &nbsp;&nbsp;
                <button mat-flat-button class="transparent-button opacity-button" (click)="cancelAdd()">Cancel</button>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>
