.schedule-details {
    overflow: auto;
    height: 150px;
}

.select-included {
    width: 100%;
    max-height: 108px;
}

.timepicker__main-content {
    --body-background-color: #4f4e4e !important;
}

.select-list {
    width: 140px;
}

.attendees-form {
    width: 100%;
}

.dialog-fields-text {
    width: 700px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.block-margin-10 {
    margin-top: 10px;
    display: block;
}

.color-selection {
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.color-selection-small {
    gap: 0.5px !important;
}

.color-selection > .color-container {
    width: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.color-selection > .color-container > div {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
}

.color-selection > .color-container > div:hover {
    width: 25px;
    height: 25px;
    border: 1px solid #3b4369;
}

.color-selected:hover {
    border: 3px solid white !important;
    box-sizing: content-box !important;
    width: 20px !important;
    height: 20px !important;
}

.mat-option {
    line-height: 30px;
    height: 30px;
}

.addedit-schedule-dialog {
    display: grid;
    grid-column-gap: 7px;
}

.invites-section {
    width: 100%;
}

.mat-inputs > div {
  margin: -4px 0 !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.calendar-dialog-readio-group {
    display: flex !important;
    flex-direction: column !important;
}

.calendar-dialog-readio-group > mat-radio-button{
    margin-left: 0px !important;
    margin-top: 5px !important;
}

.repeat-layout {
    flex-direction: column !important;
    align-items: baseline !important;
}

.repeat-layout > div {
    width: 100% !important;
    text-align: left !important;
}

.times-label {
    position: absolute;
    font-size: 11px;
    right: 4px;
    top: 6px;
}
