.main-page {
  display: flex;
  box-sizing: border-box;
  height: 700px;
}

.left-nav {
  min-width: 276px;
  background-color: beige;
}

.right-content {
  width: 100%;
}

.left-nav-buttons {
  background: lightblue;
  margin-top: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

  .left-nav-buttons > a {
    display: block;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #add8e6;
  }

.flex-gap-13 {
  justify-content: center;
  gap: 13px;
}

.flex-left-gap-13 {
  display: flex;
  gap: 13px;
  justify-content: start;
  align-items: center;
}

.flex-other-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.logout-button {
  cursor: pointer;
}

::placeholder {
  color: red;
  font-style: italic;
  opacity: 1;
}

/* toolbar buttons top */

.toolbar-link-top {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-bottom: 2px solid transparent;
  gap: 6px;
}

.toolbar-link-top:hover {
  background-color: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
}

.nav-link-active {
  background-color: rgba(255,255,255,0.2);
  border-bottom: 2px solid white;
}

.z-index-1 {
  z-index: 1;
}

/* Add Edit and Add user dialog styles */

.user-dialog-fields {
  display: flex;
  gap: 10px;
}

.user-dialog-fields-label {
  min-width: 100px;
  text-align: right;
}

.user-dialog-fields-text > div {
  margin-bottom: 3px;
}

.dialog-fields {
  display: flex;
  gap: 10px;
}

.dialog-fields-label {
  text-align: left;
  color: white;
}

.dialog-fields-label > div {
  margin-bottom: 12px;
}

.buttons-group {
  margin-top: 30px;
} */

.miniMenu {
  overflow: hidden;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar > * {
  margin-right: 10px !important;
  overflow: hidden;
}

.component-center + *{
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.scheduler-toolbar {
  position: fixed;
  z-index: 2;
}

/* Gradiant annimation on toolbar */

.scheduler-toolbar-top {
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.scheduler-toolbar-down {
  background-color: #272e48 !important;
  border-bottom: 1px solid #3d445b;
  box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
}

.toolbar-content-space {
  min-height: 140px;

  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-auth {
  padding-top: 95px;
  text-align: center;
  color: #dae1f4;
  margin-bottom: 60px;
}

.welcome-auth > h1 {
  font-weight: bold;
  font-size: 26px;
}

.welcome-auth > p {
  font-size: 15px;
}

.flex-center {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-icon-flex {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* gradient background */

.gradiant-animation {
  position: relative;
  background: linear-gradient(92deg, #5a0b03, #0c4d01, #0d0261, #611b01, #565800, #3b0163);
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 48s ease infinite;
  -moz-animation: AnimationName 48s ease infinite;
  animation: AnimationName 48s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName { 
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

/* Auth dialog */

.padding-top {
  padding-top: 12px !important;
}

.padding-bottom {
  padding-bottom: 12px !important;
}

.auth-dialog {
  background-color: #2c3351;;
}

.auth-fields {
  display: flex;
}

.auth-fields > div {
  padding: 6px 10px;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.auth-dialog-title {
  border-bottom: 1px solid #384166;
  color: #d6d9e0;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 14px;
}

.auth-left-fields-width {
  min-width: 33%;
}

.auth-left-fields {
  border-right: 1px solid #384166;
  color: #dae1f4;
  flex-direction: row-reverse;
  font-weight: bold;
}

.left-field-width {
  min-width: 25%;
}

.auth-right-fields {
  color: #dae1f4;
  flex-direction: row;
}

.auth-right-fields-width {
  min-width: 67%;
}

.right-field-width {
  min-width: 75%;
}

.background-color-272e48 {
  background-color: #272e48;
}

.background-color-3a405a {
  background-color: #3a405a;
}

.background-color-161f35 {
  background-color: #161f35;
}

.auth-footer {
  border-top: 1px solid #384166;
  color: #dae1f4;
}

.auth-footer > div {
  padding: 6px;
}

.auth-text {
  background-color: #2f3650;
  border: 1px solid #3a4369;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  caret-color: white;
  color: white;
}

.auth-text:focus {
  background-color: #272e48;
  border: 1px solid #737d92;
}

.auth-close-x {
  color: #838aa2;
  font-size: 35px;
  font-weight: bold;
}

.auth-close-x:hover {
  color: #22b9ff;
  cursor: pointer;
}

.auth-footer-fields {
  display: flex;
}

.auth-footer-left {
  flex: 33%
}

.auth-footer-right {
  flex: 67%;
}

.auth-button {
  color: white;
  padding: 7px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  min-width: 110px;
}

.auth-button:disabled {
  opacity: .5;
}

.auth-grey-button {
  background-color: #929db0;
}

.auth-grey-button:hover {
  background-color: #aab1c2;
}

.button-lightblue {
  background-color: #22b9ff;
}

.button-lightblue:hover {
  background-color: #4bc6ff;
}

.button-orange {
  background-color: #d35500;
}

.button-orange:hover {
  background-color: #f48b7d;
}

.auth-password-text {
  border-radius: 5px 0 0 5px !important;
  border-right: 0 !important;
}

.auth-password-text:focus + .show-password-button {
  background-color: #272e48;
  border: 1px solid #737d92;
}

.show-password-button {
  display: flex;
  width: 80px;
  gap: 5px;
  align-items: center;
  border-radius: 0 5px 5px 0 !important;
}

.mat-date-picker-location {
    position: absolute;
    margin-left: -30px;
    margin-top: -5px;
}

.ngx-material-timepicker-toggle-location{
  position: absolute;
  margin-left: -32px;
}

.gap-10 {
  gap: 10px;
}

.full-section {
  width: 100%;
}

.date-time-section {
  width: 100%;
}

.date-time-section > div {
  width: 50%;
}

.field-disabled {
  opacity: 0.4;
}

.round-image-icon {
  display: inline-block;
  background-color: #eaecef;
  padding: 10px;
  border-radius: 25px;
}

.round-image-icon > img {
  height: 25px;
  width: 25px;
}

/* Footer */

footer {
  background-color: #252c46;
}

.footer-content {
  max-width: 1160px;
  display: flex;
  height: 150px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.footer-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content-large > div {
  flex-basis: 50%;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-content-small > div {
  flex-basis: 100%;
  text-align: center;
}

.footer-icon-link {
  background-color: #5a6174;
  margin-right: 15px;
  transition: 0.2s
}

.footer-icon-link:hover {
  background-color: #808aa3;
}

/* Bubble animation */

.bubble-animate {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.bubble-animate .circle {
  background: url(https://incels.is/logo/emoji/Blackpill.png) no-repeat;
  border-radius: 50%;
  bottom: 0;
  position:absolute
}

.bubble-animate .circle.small {
  width: 20px;
  height: 20px;
  opacity: .7;
  background-size:20px
}

.bubble-animate .circle.small.square1 {
  left: 18%;
  top: 100%;
  animation-name: smallBubble;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.small.square2 {
  left: 36%;
  top: 100%;
  animation-name: smallBubble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.small.square3 {
  left: 54%;
  top: 100%;
  animation-name: smallBubble;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.small.square4 {
  left: 72%;
  top: 6px;
  animation-name: smallBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.small.square5 {
  left: 90%;
  top: 100%;
  animation-name: smallBubble;
  animation-duration: 7s;
  animation-delay: 5s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.medium {
  width: 40px;
  height: 40px;
  opacity: .35;
  background-size:40px
}

.bubble-animate .circle.medium.square1 {
  left: 21%;
  top: 100%;
  animation-name: mediumBubble;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.medium.square2 {
  left: 42%;
  top: 100%;
  animation-name: mediumBubble;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.medium.square3 {
  left: 63%;
  top: 100%;
  animation-name: mediumBubble;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 12s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.medium.square4 {
  left: 84%;
  top: 100%;
  animation-name: mediumBubble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 12s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.medium.square5 {
  left: 105%;
  top: 100%;
  animation-name: mediumBubble;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.large {
  width: 100px;
  height: 100px;
  opacity: .15;
  background-size:100px
}

.bubble-animate .circle.large.square1 {
  left: 21%;
  top: 100%;
  animation-name: bigBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.large.square2 {
  left: 42%;
  top: 100%;
  animation-name: bigBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.large.square3 {
  left: 63%;
  top: 100%;
  animation-name: bigBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 13s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.large.square4 {
  left: 84%;
  top: 100%;
  animation-name: bigBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 9s;
  animation-timing-function:ease-in
}

.bubble-animate .circle.large.square5 {
  left: 105%;
  top: 100%;
  animation-name: bigBubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 13s;
  animation-timing-function:ease-in
}

@-webkit-keyframes smallBubble {
  0% {
      top: 100%;
      margin-left:10px
  }

  25% {
      margin-left:-10px
  }

  50% {
      margin-left:10px
  }

  75% {
      margin-left:-10px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}

@keyframes smallBubble {
  0% {
      top: 100%;
      margin-left:10px
  }

  25% {
      margin-left:-10px
  }

  50% {
      margin-left:10px
  }

  75% {
      margin-left:-10px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}

@-webkit-keyframes mediumBubble {
  0% {
      top: 100%;
      margin-left:15px
  }

  25% {
      margin-left:-15px
  }

  50% {
      margin-left:15px
  }

  75% {
      margin-left:-15px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}

@keyframes mediumBubble {
  0% {
      top: 100%;
      margin-left:15px
  }

  25% {
      margin-left:-15px
  }

  50% {
      margin-left:15px
  }

  75% {
      margin-left:-15px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}

@-webkit-keyframes bigBubble {
  0% {
      top: 100%;
      margin-left:20px
  }

  25% {
      margin-left:-20px
  }

  50% {
      margin-left:20px
  }

  75% {
      margin-left:-20px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}

@keyframes bigBubble {
  0% {
      top: 100%;
      margin-left:20px
  }

  25% {
      margin-left:-20px
  }

  50% {
      margin-left:20px
  }

  75% {
      margin-left:-20px
  }

  100% {
      top: 0%;
      opacity: 0;
      margin-left:0
  }
}