.main-page {
  display: flex;
  box-sizing: border-box;
  height: 700px;
}

.left-nav {
  min-width: 276px;
  background-color: beige;
}

.right-content {
  width: 100%;
}

.left-nav-buttons {
  background: lightblue;
  margin-top: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

  .left-nav-buttons > a {
    display: block;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #add8e6;
  }

.flex-gap-13 {
  justify-content: center;
  gap: 13px;
}

.flex-left-gap-13 {
  display: flex;
  gap: 13px;
  justify-content: start;
  align-items: center;
}

.flex-other-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.logo {
  cursor: pointer;
}

.logout-button {
  cursor: pointer;
}

::placeholder {
  color: red;
  font-style: italic;
  opacity: 1;
}

/* Shake images animation */

.shake:hover > img {
  animation: shake1 0.3s;
  animation-iteration-count: 1;
}


@keyframes shake1 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  45% { transform: translate(1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* End shake images animation */

/* toolbar buttons top */

.toolbar-link-top {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-bottom: 2px solid transparent;
  gap: 6px;
}

.toolbar-link-top:hover {
  background-color: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
}

.nav-link-active {
  background-color: rgba(255,255,255,0.2);
  border-bottom: 2px solid white;
}

.z-index-1 {
  z-index: 1;
}

/* Add Edit and Add user dialog styles */

.user-dialog-fields {
  display: flex;
  gap: 10px;
}

.user-dialog-fields-label {
  min-width: 100px;
  text-align: right;
}

.user-dialog-fields-text > div {
  margin-bottom: 3px;
}

.dialog-fields {
  display: flex;
  gap: 10px;
}

.dialog-fields-label {
  text-align: left;
  color: white;
}

.dialog-fields-label > div {
  margin-bottom: 12px;
}

.buttons-group {
  margin-top: 30px;
} */

.miniMenu {
  overflow: hidden;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar > * {
  margin-right: 10px !important;
  overflow: hidden;
}

.component-center + * > div{
  min-height: 600px;
  /* display: flex; */
  /* justify-content: center; */
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.scheduler-toolbar {
  position: fixed;
  z-index: 2;
}

/* Gradiant annimation on toolbar */

.scheduler-toolbar-top {
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.scheduler-toolbar-down {
  background-color: #272e48 !important;
  border-bottom: 1px solid #3d445b;
  box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.22);
}

.toolbar-content-space {
  min-height: 140px;

  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-auth {
  padding-top: 95px;
  text-align: center;
  color: #dae1f4;
  margin-bottom: 60px;
}

.welcome-auth > h1 {
  font-weight: bold;
  font-size: 26px;
}

.welcome-auth > p {
  font-size: 15px;
}

.flex-center {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-icon-flex {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* Auth dialog */

.padding-top {
  padding-top: 12px !important;
}

.padding-bottom {
  padding-bottom: 12px !important;
}

.auth-dialog {
  background-color: #2c3351;;
}

.auth-fields {
  display: flex;
}

.auth-fields > div {
  padding: 6px 10px;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.auth-dialog-title {
  border-bottom: 1px solid #384166;
  color: #d6d9e0;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 14px;
}

.auth-left-fields-width {
  min-width: 33%;
}

.auth-left-fields {
  border-right: 1px solid #384166;
  color: #dae1f4;
  flex-direction: row-reverse;
  font-weight: bold;
}

.left-field-width {
  min-width: 25%;
}

.auth-right-fields {
  color: #dae1f4;
  flex-direction: row;
}

.auth-right-fields-width {
  min-width: 67%;
}

.right-field-width {
  min-width: 75%;
}

.background-color-272e48 {
  background-color: #272e48;
}

.background-color-3a405a {
  background-color: #3a405a;
}

.background-color-161f35 {
  background-color: #161f35;
}

.auth-footer {
  border-top: 1px solid #384166;
  color: #dae1f4;
}

.auth-footer > div {
  padding: 6px;
}

.auth-text {
  background-color: #2f3650;
  border: 1px solid #3a4369;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  caret-color: white;
  color: white;
}

.auth-text::-webkit-scrollbar {
  background-color: #465279;
}

.auth-text::-webkit-scrollbar-thumb {
  background-color: #232b49;
  border-radius: 12px;
}

.auth-text::-webkit-scrollbar-corner {
  background-color: #465279;
}

.auth-text:focus {
  background-color: #272e48;
  border: 1px solid #737d92;
}

.auth-select {
  background-image: url('../assets/images/select-background.svg');
  background-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right center;
}

.auth-select::-ms-expand {
  display: none;
}

.auth-close-x {
  color: #838aa2;
  font-size: 35px;
  font-weight: bold;
}

.auth-close-x:hover {
  color: #22b9ff;
  cursor: pointer;
}

.auth-footer-fields {
  display: flex;
}

.auth-footer-left {
  flex: 33%
}

.auth-footer-right {
  flex: 67%;
}

.auth-button {
  color: white;
  padding: 7px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  min-width: 110px;
}

.auth-button:disabled {
  opacity: .5;
}

.auth-grey-button {
  background-color: #929db0;
}

.auth-grey-button:hover {
  background-color: #aab1c2;
}

.button-lightblue {
  background-color: #22b9ff;
}

.button-lightblue:hover {
  background-color: #4bc6ff;
}

.button-orange {
  background-color: #d35500;
}

.button-orange:hover {
  background-color: #f48b7d;
}

.auth-password-text {
  border-radius: 5px 0 0 5px !important;
  border-right: 0 !important;
}

.auth-password-text:focus + .show-password-button {
  background-color: #272e48;
  border: 1px solid #737d92;
}

.show-password-button {
  display: flex;
  width: 90px;
  gap: 5px;
  align-items: center;
  border-radius: 0 5px 5px 0 !important;
}

.mat-date-picker-location {
    position: absolute;
    margin-left: -30px;
    margin-top: -5px;
}

.ngx-material-timepicker-toggle-location{
  position: absolute;
  margin-left: -32px;
}

.gap-10 {
  gap: 10px;
}

.full-section {
  width: 100%;
}

.dual-section {
  width: 100%;
}

.dual-section > div {
  width: 50%;
}

.field-disabled {
  opacity: 0.4;
}

.round-image-icon {
  display: inline-block;
  background-color: #eaecef;
  padding: 10px;
  border-radius: 25px;
}

.round-image-icon > img {
  height: 25px;
  width: 25px;
}

.after-text {
  width: 65px;
}

.right-label {
  color: #dae1f4;
  font-weight: bold;
}

.margin-left-7 {
  margin-left: 7px;
}

/* Scheduler Table */

.mat-header-row {
  background-color: #2c3351;
}

.scheduler-table {
  background-color: #272e48;
}

.scheduler-table > td > button {
  visibility: hidden;
}

.scheduler-table:hover > td > button {
  visibility: visible;
}

/* Footer */

footer {
  background-color: #252c46;
}

.footer-content {
  max-width: 1160px;
  display: flex;
  height: 150px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.footer-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content-large > .footer-left {
  flex-basis: 25%;
}

.footer-content-large > .footer-right {
  flex-basis: 75%;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-content-small > div {
  flex-basis: 100%;
  text-align: center;
}

.footer-content-small > .footer-right > .footer-social-media-company{
  justify-content: center
}

.footer-social-media-company {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.footer-icon-link {
  display: inline-block;
  width: 18px;
	height: 18px;
}

.twitter-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -22px -3px;
  background-size: 200px 100px;
  height: 16px;;
}

.twitter-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -22px -24px;
  background-size: 200px 100px;
}

.facebook-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -44px -1px;
  background-size: 200px 100px;
}

.facebook-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -44px -22px;
  background-size: 200px 100px;
}

.instagram-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -130px -2px;
  background-size: 200px 100px;
}

.instagram-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -130px -23px;
  background-size: 200px 100px;
}

.github-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -64px -3px;
  background-size: 200px 100px;
  width: 19px
}

.github-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -64px -24px;
  background-size: 200px 100px;
}

.linkedin-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -107px -2px;
  background-size: 200px 100px;
}

.linkedin-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -107px -23px;
  background-size: 200px 100px;
}

.youtube-sprite {
  background: url('../assets/images/footer-sprite.png') no-repeat -174px -5px;
  background-size: 200px 100px;
  width: 20px;
  height: 14px;
}

.youtube-sprite:hover {
  background: url('../assets/images/footer-sprite.png') no-repeat -174px -26px;
  background-size: 200px 100px;
}

.company-link {
  display: flex;
  gap: 10px;;
}

.footer-social-media-company > a {
  color: #f6f6f6;
  font-size: 13px;
  font-family: "BentonSans", "Helvetica Neue", sans-serif;
}

.footer-social-media-company > a:hover {
  color: #d6d6d6;
}

/* Alert dialog */

.message-image {
  display: flex;
  justify-content: center;
}

.message-image > img {
  margin-top: 20px;
}

/* Color */

.color-sligthly-none {
  background-color: #363f65;
  transform: rotate(-71deg);
  overflow: hidden;
}

.color-sligthly-none > span {
  font-size: 30px;
  font-weight: bold;
}

.color-red {
  background-color: #ff6a61;
}

.color-orange {
  background-color: #ffb23a;
}

.color-yellow {
  background-color: #ffde3b;
}

.color-green {
  background-color: #5bdf6f;
}

.color-selected {
  border: 3px solid white;
  box-sizing: content-box;
}

.color-blue {
  background-color: #3b9dff;
}

.color-purple {
  background-color: #cc7bf5;
}

.color-gray {
  background-color: #adadb0;
}

.component-center + :not(app-page-home) {
  display: block;
  margin-bottom: 100px;
}