<div class="gradiant-animation">
    <!-- <div class="bubble-animate">
        <div class="circle small square1"></div>
        <div class="circle small square2"></div>
        <div class="circle small square3"></div>
        <div class="circle small square4"></div>
        <div class="circle small square5"></div>
        <div class="circle medium square1"></div>
        <div class="circle medium square2"></div>
        <div class="circle medium square3"></div>
        <div class="circle medium square4"></div>
        <div class="circle medium square5"></div>
        <div class="circle large square1"></div>
        <div class="circle large square2"></div>
        <div class="circle large square3"></div>
        <div class="circle large square4"></div>
    </div> -->

    <mat-toolbar class="scheduler-toolbar" [ngClass]="(onTop && showLargeMenu) ? 'scheduler-toolbar-top' : 'scheduler-toolbar-down'">
          <mat-toolbar-row>
              <button *ngIf="!showLargeMenu && authService.isLoggedIn()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideMenu()">
                  <mat-icon>menu</mat-icon>
              </button>
              <img height="50" width="170" class="logo" (click)="homeClicked()" [src]="logoIcon">

              <span class="menu-spacer"></span>
              <div class="display-flex" *ngIf="showLargeMenu && authService.isLoggedIn()">
                  <a class="toolbar-link-top shake" routerLink="/Schedules" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">
                      <img height="20" width="20" [src]="contactIcon">    
                      Schedules
                  </a>
                  <a class="toolbar-link-top shake" routerLink="/Contacts" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">
                      <img height="20" width="20" [src]="eventIcon">  
                      Contacts
                  </a>
                  <a class="toolbar-link-top shake" routerLink="/Manage-group" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">
                      <img height="20" width="20" [src]="manageGroupIcon">  
                      Manage Group
                  </a>                   
              </div>
              <span class="menu-spacer"></span>
              <div class="display-flex" *ngIf="!authService.isLoggedIn()">
                  <a class="toolbar-link-top" href="#mobile-part">Mobile</a>
                  <a class="toolbar-link-top" href="#feature-part">Feature</a>               
                  <a class="toolbar-link-top" (click)="onLoginClick()"><img [src]="loginUserIcon" height="18" width="18"></a>
                  <a class="toolbar-link-top" (click)="onRegisterClick()"><img [src]="registerUserIcon" height="16" width="16"></a>
              </div>
              <div class="display-flex" *ngIf="authService.isLoggedIn()">
                  <a class="toolbar-link-top" (click)="showProfile()">
                      <img height="20" width="20" [src]="profilePic">
                      {{ userName }}
                  </a>
                  <a class="toolbar-link-top" (click)="onLogoutClick()"><img [src]="logoutUserIcon" height="18" width="18"></a>
              </div>
          </mat-toolbar-row>
        <div class="mini2" *ngIf="!showLargeMenu && toggleMenu && authService.isLoggedIn()" [@slideSideInOut]>
            <mat-toolbar-row>
                <a mat-button routerLink="/Schedules" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">Schedules</a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a mat-button routerLink="/Contacts" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">Contacts</a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a mat-button routerLink="/Manage-group" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page">Manage Group</a>
            </mat-toolbar-row>
        </div>
    </mat-toolbar>
    
    <div class="toolbar-content-space">
        <div class="welcome-auth" *ngIf="!authService.isLoggedIn()">
            <h1>EVENT-IO</h1>
            <p>
                Event-IO is an event scheduling tool for meetings, calls, task, and reminders.  Onboarding on Event-IO is easy as it allows a simple, one-time setup and it's 'FREE'.
            </p>
            <div class="flex-center">
                <button class="auth-button button-lightblue button-icon-flex z-index-1" (click)="onLoginClick()">
                    <img height="18" width="18" [src]="authUserIcon">
                    Log In
                </button>
                <button class="auth-button button-orange button-icon-flex z-index-1" (click)="onRegisterClick()">
                    <img height="18" width="18" [src]="authCrossIcon">
                    Register
                </button>
            </div>
        </div>
    </div>
    <div style="height: 50px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.22,-0.48 C169.01,258.05 353.55,-126.80 499.15,51.80 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #182139;"></path></svg></div>
</div>

<router-outlet class="component-center"></router-outlet>
<footer>
    <div class="footer-content" [ngClass]="showLargeMenu ? 'footer-content-large' : 'footer-content-small'">
        <div class="footer-left">
          <span class="footer-title">
            <img height="50" width="170" [src]="logoIcon">
          </span>
        </div>
        <div class="footer-right">
          <div class="footer-social-media-company">
            <a class="footer-icon-link twitter-sprite" href="https://twitter.com/Event_IO_Dev"></a>
            <a class="footer-icon-link facebook-sprite" href="https://www.facebook.com/profile.php?id=100087255240513" ></a>
            <a class="footer-icon-link instagram-sprite" href="https://www.instagram.com/eventiodev/"></a>
            <!-- <a class="footer-icon-link github-sprite" href="https://github.com/rubelito"></a> -->
            <!-- <a class="footer-icon-link linkedin-sprite" href="https://www.linkedin.com/in/rubelito-isiderio-8522a8149/"></a> -->
            <a class="footer-icon-link youtube-sprite" href="https://www.youtube.com/channel/UCLdK3BAH4lwH4jaIwyelXZw"></a>
          </div>
          <div class="footer-social-media-company">
            <a href="\">event.io</a>
            <a href="\">Terms of Service</a>
            <a href="\">Privacy</a>
            <a href="\">Cookies</a>
            <a href="https://www.caller-info.com/">Caller-info</a>
          </div>
          <span>© 2022 event-io.co</span>
        </div>
    </div>
</footer>

<div class="xtr_shape">
    <div class="shape1"><img src="/assets/images/shape5.png" alt="shape1" /></div>
    <div class="shape2 rotateme"><img src="/assets/images/shape2.svg" alt="shape2" /></div>
    <div class="shape3"><img src="/assets/images/shape3.svg" alt="shape3" /></div>
    <div class="shape5"><img src="/assets/images/shape5.png" alt="shape4" /></div>
    <div class="shape7"><img src="/assets/images/shape4.svg" alt="shape7" /></div>
    <div class="shape8 rotateme"><img src="/assets/images/shape2.svg" alt="shape8" /></div>
</div>
